@import '../../node_modules/normalize.css/normalize';
@import '../../shared/scss/base';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Open+Sans+Condensed:wght@300&display=swap');
@import 'old';
@import 'report';

.main {
    background-color: rgb(1, 1, 1);
    color: rgb(170, 170, 170);
}

.h2 {
    color: rgb(170, 170, 170);
    font-weight: bold;
}

.header {
    background-color: rgb(1, 1, 1);
    color: rgb(170, 170, 170);
}
