@import '../../node_modules/normalize.css/normalize';
@import '../../shared/scss/base';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Open+Sans+Condensed:wght@300&display=swap');
@import 'old';
@import 'report';
@import 'kmom';

//Variabler
$lightgrey: #707070;
$darkgreytransparent: rgba(10, 10, 10, 0.3);
$headings: 'Open Sans Condensed', sans-serif;

html {
    background-color: rgb(250, 250, 250);
}

* {
    font-family: 'Barlow Condensed', sans-serif;
}

h1,
h2,
h3 {
    font-family: $headings;
}


.idaimg {
    width: 98px;
    height: 268px;
    float: right;
    margin-top: 65px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.analysisimg {
    width: 220px;
    height: 150px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.active {
    text-decoration: underline;
    color: rgb(236, 155, 23);
    text-shadow: 1px;
}

.a {
    color: rgb(236, 175, 43);
}
